@mixin sub-title($size, $weight: $fontWeightRegular, $line-height: $lineHeightMedium) {
  font-family: $fontFamily02;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin heading($size, $weight: $fontWeightMedium) {
  font-family: $fontFamily01;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeightMedium;
}

@mixin input($size: $buttonSizeMedium) {
  height: $size;
  width: 100%;
  padding: 8px;
  border: 1px solid $neutralBorder;
  border-radius: 4px;
  transition: 150ms $defaultTransitionType;
  outline: none;
  color: $fontColorMediumEmphasis;

  @include heading($fontSizeMedium);

  @media screen and (min-width: $notebookLandscape) {
    @include heading($fontSizeLarge);
  }

  &:hover {
    border-color: $blueGray100;
  }

  &:focus,
  &:active {
    border-color: $brandColorSecondary;
  }
}
