/* Design System Variables */

$blueGray10: #F4F8FA;
$blueGray50: #E9EEF2;
$blueGray100: #CBD5DC;
$blueGray200: #ABB8C2;
$blueGray300: #8A9CA9;
$blueGray400: #708797;
$blueGray600: #4D6475;
$blueGray900: #1E2A32;

$neutralWhite: #FFF;

// Background colors
$neutralBackground: #F4F8FA;

// Brand colors
$brandColorPrimary: #1B31A8;
$brandColorSecondary: #0079FF;

// Breakpoints
$notebookLandscape: 992px;

// Border
$neutralBorder: $blueGray50;
$borderRadiusSmall: 8px;
$borderRadiusPill: 32px;

// Button
$buttonSizeSmall: 40px;
$buttonSizeMedium: 56px;
$buttonSizeLarge: 64px;

// Font colors
$fontColorHighEmphasis: $blueGray900;
$fontColorMediumEmphasis: $blueGray600;
$fontColorLowEmphasis: $blueGray400;
$fontColorNegative: $neutralWhite;

// Shadow
$shadowLevel4: 0px 16px 32px rgba($blueGray900, 0.08);
$shadowLevel6: 0px 12px 48px rgba($blueGray900, 0.12);

// Spacing - Margin
$stackQuark: 4px;
$stackNano: 8px;
$stackMicro: 12px;
$stackUltraSmall: 16px;

// Spacing - Padding
$insetMicro: 12px;
$insetSuperSmall: 16px;
$insetLarge: 40px;

// Transition
$defaultTransitionType: cubic-bezier(0.67, 0.09, 0.3, 0.91);;

// Typography
$fontFamily01: 'Rubik', sans-serif;
$fontFamily02: 'Work Sans', sans-serif;

$fontWeightRegular: normal;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;

$fontSizeUltraSmall: 12px;
$fontSizeHyperSmall: 14px;
$fontSizeExtraSmall: 16px;
$fontSizeSmall: 18px;
$fontSizeMedium: 20px;
$fontSizeLarge: 24px;
$fontSizeHyperLarge: 32px;

$lineHeightMedium: 120%;
$lineHeightDistant: 150%;

