.navbar {
  width: 100%;
  background-color: $neutralWhite;
  padding: $insetSuperSmall;

  &__logo {
    width: 75px;
    height: 24px;

    svg {
      color: $blueGray900;
      width: 100%;
      height: 100%;
    }
  }
}
