.navbar {
  width: 100%;
  background-color: $neutralWhite;
  padding: $insetSuperSmall;

  @media screen and (min-width: $notebookLandscape) {
    padding: 24px;
  }

  &__logo {
    max-width: 75px;
    max-height: 24px;

    @media screen and (min-width: $notebookLandscape) {
      max-width: 100px;
      max-height: 32px;
    }

    svg {
      color: $blueGray900;
    }
  }
}
