.Goal {
  align-items: center;
  display: grid;
  gap: $insetSuperSmall;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 1fr;

  &__name {
    color: $fontColorHighEmphasis;

    @include heading($fontSizeMedium);

    @media screen and (min-width: $notebookLandscape) {
      @include heading($fontSizeLarge);
    }
  }

  &__description {
    color: $fontColorLowEmphasis;

    @include sub-title($fontSizeHyperSmall, $fontWeightRegular, $lineHeightDistant);

    @media screen and (min-width: $notebookLandscape) {
      @include sub-title($fontSizeExtraSmall, $fontWeightRegular, $lineHeightDistant);
    }
  }
}
