.SimulationCard {
  margin-top: 32px;
  max-width: 560px;

  @media screen and (min-width: $notebookLandscape) {
    margin-top: 48px;
  }

  .title {
    color: $brandColorPrimary;
    text-align: center;

    @include sub-title($fontSizeSmall);

    @media screen and (min-width: $notebookLandscape) {
      font-size: $fontSizeMedium;
    }
  }

  .card {
    width: 100%;
    margin-top: 24px;
    padding: 24px;
    padding-bottom: $insetLarge;
    background-color: $neutralWhite;
    box-shadow: $shadowLevel4;
    border-radius: $borderRadiusSmall;

    &__body {
      margin: 24px 0;
    }

    &__wrapper {
      display: grid;
      gap: $insetSuperSmall;

      @media screen and (min-width: $notebookLandscape) {
        display: flex;
      }
    }

    &__footer {
      display: flex;
      justify-content: center;
    }
  }
}

.formGroup {
  &__label {
    color: $fontColorHighEmphasis;
    margin-bottom: $stackQuark;

    @include sub-title($fontSizeUltraSmall, $fontWeightRegular, $lineHeightDistant);

    @media screen and (min-width: $notebookLandscape) {
      font-size: $fontSizeHyperSmall;
    }
  }
}
